<div *ngIf="!connected" class="connec-hud">
  <span>{{warning}}</span>
  <input type="text" [(ngModel)]="nickname" />
  <button (click)="connect(nickname)">connect</button>
</div>

<div *ngIf="connected">
  <div class="message-hud">
    <div class="message" *ngFor="let text of messages">
      <span>&lt;{{text.from}}&gt;</span> <span>{{text.message}}</span>
    </div>
  </div>
  <div class="input-hud">
    &lt;{{nickname}}&gt; <input [(ngModel)]="message" type="text" (keyup.enter)="sendMessage(message)"/> <button (click)="sendMessage(message)">Send</button>
  </div>
</div>
